{% extends "bootstrap/base.html" %}
{%- block styles %}
<!-- Bootstrap -->
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
<link href="{{bootstrap_find_resource('css/fontawesome-all.css', cdn='bootstrap')}}" rel="stylesheet">

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
<style>
  .basic-nav {
    background-color: red;
  }

</style>
{%- endblock styles %}

{% block title %}Home{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light alert-success">
  <!-- <div class="basic-nav" style="display:inline-block"> -->

  <img src="static/img/Forest-icon2.png" width="170" height="90">

  <h1>
    <a class="navbar-brand menu" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </h1>

  <h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style='margin: 100;'>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shopModel">
            shop
          </button>

          <!-- Modal -->
          <div class="modal fade" id="shopModel" tabindex="-1" role="dialog" aria-labelledby="shopModelLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="shopModelLabel">Now Developing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  You can shop here
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item active" style='margin: 0,10,0,10;'>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lnquiryModel">
            lnquiry
          </button>

          <!-- Modal -->
          <div class="modal fade" id="lnquiryModel" tabindex="-1" role="dialog" aria-labelledby="lnquiryModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="lnquiryModalLabel">Now Developing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Inquiry screen
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item active" style='margin: 0,10,0,10;'>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#informationModal">
            information
          </button>

          <!-- Modal -->
          <div class="modal fade" id="informationModal" tabindex="-1" role="dialog"
            aria-labelledby="informationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="informationModalLabel">Now Developing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  some information
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item active" style='margin: 0,10,0,10;'>
          <button type="button" class="btn btn-primary"
            onclick='location.href="https://www.who.int/health-topics/sustainable-development-goals#tab=tab_1"'
            data-target="#exampleModal">
            Link
          </button>
        </li>
      </ul>
  </h2>

  <form action="/product_list" class="form-inline my-2 my-lg-0" method="POST">
    <input class="form-control mr-sm-2" type="search" name="product_name" placeholder="Search" aria-label="Search"
      style="width: 300px;">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- </div> -->
</nav>
{% endblock %}

{% block content %}
<img src="static/img/Forest-home.jpg" width="100%">
<div class="card text-dark alert-success mb-3" style="max-width: 100%;">
  <div class="card-header">
    <h1>
      <span style="color:#32cef5">
        What are SDGs?
      </span>
    </h1>
  </div>
  <div class="card-body">
    <p class="card-text" style="font-size: 2.5rem;">
      <span style="color: #32cef5;">
        The Millenlum Development Goals (MDGs) formulated in 2001 are listed in the 2030 Agenda for
        Sustainable Development, which was unanimously adopted by member states at the United
        Nations Summit in September 2015, as a successor to the opening in a separate window.
        It is an international goal to aim for a sustainable and better world by 2030. <br>
      </span>
      <span style="font-size: 2rem;">

        reference <a href="https://www.mofa.go.jp/mofaj/gaiko/oda/sdgs/about/index.html"> <br>
          https://www.mofa.go.jp/mofaj/gaiko/oda/sdgs/about/index.html</a>
      </span>
    </p>
  </div>
</div>
{% endblock %}
